<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cptf.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CopyTestFiles.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <cptf.Properties.Settings1>
            <setting name="DestinationRootDir" serializeAs="String">
                <value>d:\test\src</value>
            </setting>
            <setting name="TestDataRepoRootDir" serializeAs="String">
                <value>D:\test\src\_testdata</value>
            </setting>
        </cptf.Properties.Settings1>
        <CopyTestFiles.Properties.Settings1>
            <setting name="ProjectRootDir" serializeAs="String">
                <value>c:\test\project</value>
            </setting>
            <setting name="ProjectSrcRootDir" serializeAs="String">
                <value>c:\test\src</value>
            </setting>
            <setting name="TestDataRepoRootDir" serializeAs="String">
                <value>c:\test\testdata</value>
            </setting>
        </CopyTestFiles.Properties.Settings1>
    </userSettings>
</configuration>